Add a golf course.
<form action="add_course">
  <input type="text" placeholder="Enter Course Name" name ="name">
  <input type="numbers" placeholder="Enter Front 9 Par" name ="front">
  <input type="numbers" placeholder="Enter Back 9 Par" name ="back">
  <br> 
  <input type="submit">
</form>  
     