Which golf course would you like to see?

<ul>
   <% Course.all_as_objects.each do |single| %>
     <li>Course ID -<%= single.id %>  Location -<%=single.name%></li>
   <% end %>
</ul>

<form action="/show_single_course">
  <select name="course_id">
    <% Course.all_as_objects.each do |single| %>
      <option value="<%= single.id %>"><%= single.id %></option>
    <% end %>
  </select>
  
  <input type="submit">
</form>