<h2>Please enter the new course info:</h2>
<form action="/change_app/<%= params["course_id"] %>">
  <input type="text" placeholder="Enter Course Name" name="name">
  <input type="number" placeholder="Enter front 9 par" name="front_9_par">
  <input type="number" placeholder="Enter back 9 par" name="back_9_par">

  
  <input type="submit">
</form>