All Outings

<table>
 
   <% @all_outings.each do |order| %>

     <tr>
       <td> <%=order["course"]%> </td>
       <td> <%=order["golfer"]%> </td>
       <td> <%=order["front_9_score"]%> </td>
       <td> <%=order["back_9_score"]%> </td>
     </tr>
      
   <% end %>
</table>

<ul>
  <a href="/homepage">Home</a>
</ul>