<!doctype html>
<html>
  <head>
    <title>Courses</title>
    <link rel="stylesheet" href="global.css">
    
  </head>
  
  <body>
          <div class="list1">
            <ul>
              <li><a href="../courses/add_course_form">Add a golf course</a></li>
              <li><a href="../courses/all_courses">View all golf courses</a></li>
              <li><a href="../courses/single_course">Show a single course</a></li>
              <li><a href="../courses/remove_course">Remove a golf course</a></li>
              <li><a href="../courses/update_course_form">Update a golf course</a></li>
              

             
            </ul>
          </div>
        </div>
        <script type="text/javascript" src="global.js"></script>
      </body>
    </html>