<!doctype html>
<html>
  <head>
    <title>Golfers</title>
    <link rel="stylesheet" href="global.css">
    
  </head>
  
  <body>
    <div class="list1">
      <ul>
     
        <li><a href="/remove_golfer_form">Delete a golfer</a></li>
        <li><a href="/update_golfer_form">Update a golfer</a></li>
       
        <li><a href="/handicap_form">View a golfer's handicap'</a></li>
      </ul>
    </div>
    
    <script type="text/javascript" src="global.js"></script>
  </body>
</html>