<h1>Golf Score Tracker</h1>

<p>Choose a function:</p>

<ul>
  <li><a href="/add_course_form">Add a golf course</a></li>
  <li><a href="/all_courses">View all golf courses</a></li>
  <li><a href="/single_course">Show a single course</a></li>
  <li><a href="/remove_course">Remove a golf course</a></li>
 
</ul>