<!doctype html>
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="./global.css">
    
  </head>
  
  <body>
    <div class="menu" id="menu">
       <button type="button" id="burgerbutton">
          <img src="http://flippingthescales-thebook.com/images/hamburger.png" class="hamburgericon">
        </button>
      
      <div class="hamburger hide" id="hamburger">
      <a href="./golfers"> <button type="menubutton" class="menubutton" id="golferbutton">
          Golfers
        </button></a>
        <a href="./outings"> <button type="menubutton" class="menubutton" id="outingbutton">
          Outings
         </button></a>
         <a href="./courses"><button type="menubutton" class="menubutton" id="coursebutton">
          Courses
          </button></a>
      </div>
      
      
    </div>
    <div class="header">
      <img src="http://www.clubcorp.com/var/ezflow_site/storage/images/media/clubs/teal-bend-media-folder/images/facilities/golf-course/tealbendgolfclub-hole16-960x410.jpg/3836500-1-eng-US/TealBendGolfClub-Hole16-960x410.jpg_rotatingGalleryFront.jpg" class="imgheader">
      <h1>Golf Score Tracker</h1>
    </div>
    
    <div class="main" id="main">
      
      <div class="choose">
        <p>Choose a function:</p>
      </div>
      
      <div class="list1">
        <ul>
          <li><a href="/add_course_form">Add a golf course</a></li>
          <li><a href="/all_courses">View all golf courses</a></li>
          <li><a href="/single_course">Show a single course</a></li>
          <li><a href="/remove_course">Remove a golf course</a></li>
          <li><a href="/update_course_form">Update a golf course</a></li>
          <li><a href="/add_outing_form">Add a round of golf</a></li>
          <li><a href="/all_outings">View all rounds of golf</a></li>
        </ul>
      </div>
      <div class="list2">
        <ul>
          <li><a href="/leaderboard_form">View the leaderboard for a certain course</a></li>
          <li><a href="/delete_outing_form">Delete a golf outing</a></li>
          <li><a href="/remove_golfer_form">Delete a golfer</a></li>
          <li><a href="/update_golfer_form">Update a golfer</a></li>
          <li><a href="/update_outing_form">Update a golf outing</a></li>
          <li><a href="/handicap_form">View a golfer's handicap'</a></li>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="global.js"></script>
  </body>
</html>