<!doctype html>
<html>
  <head>
    <title>Outings</title>
    <link rel="stylesheet" href="global.css">
    
  </head>
  
  <body>
    <div class="list1">
      <ul>
        
       
        <li><a href="/add_outing_form">Add a round of golf</a></li>
        <li><a href="/all_outings">View all rounds of golf</a></li>
     
        <li><a href="/delete_outing_form">Delete a golf outing</a></li>
      
        <li><a href="/update_outing_form">Update a golf outing</a></li>
        <li><a href="/leaderboard_form">View the leaderboard for a certain course</a></li>
      </ul>
    </div>
     
    <script type="text/javascript" src="global.js"></script>
  </body>
</html>