<p1>Login</p1>


<form action="/login">
  <input type="text" placeholder="Enter Email Address" name = "mail">
  <input type="text" placeholder="Enter Password" name = "pass"> 
  <input type="submit">
</form>