Remove a Golfer

<form action="/remove_golfer">
  <select name="golfer_id">
    <% Golfer.all_as_objects.each do |club| %>
      <option value="<%= club.id %>"><%= club.name %></option>
    <% end %>
  </select>
<br> 

 
      <input type="submit">
</form>